:root {
    --bs-primary: #1E90FF;
    --bs-primary-rgb: 30, 144, 255;
    --bs-btn-bg: #1E90FF;
    --bs-btn-border-color: #1E90FF;
    --bs-btn-hover-bg: #1C86EE;
    --bs-btn-hover-border-color: #1C86EE;
    --bs-btn-active-bg: #1C86EE;
    --bs-btn-active-border-color: #1C86EE;
}

.btn-primary {
    background-color: #1E90FF !important;
    border-color: #1E90FF !important;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #1C86EE !important;
        border-color: #1C86EE !important;
    }

.btn-outline-primary {
    color: #1E90FF !important;
    border-color: #1E90FF !important;
}

    .btn-outline-primary:hover,
    .btn-outline-primary:focus,
    .btn-outline-primary:active {
        background-color: #1E90FF !important;
        border-color: #1E90FF !important;
        color: white !important;
    }


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}